---
layout: default
---
<h3> Faculty </h3>
<div class="faculty-table">
  {% assign sorted_faculty = site.data.faculties | sort: 'last' %}
  {% for faculty in sorted_faculty %}
  <div class="faculty">
    <div class="imgbox">
      {% if faculty.photo %}
      <img src="{{ site.baseurl }}/images/faculty/{{ faculty.photo }}" class="cropped"/>
      {% else %}
      <img src="{{ site.baseurl }}/images/avatar.jpg" class="cropped"/>
      {% endif %}
    </div>
    <h4>{{ faculty.first }} {{ faculty.last }}</h4>
    <div class="researchbox">{{ faculty.research }}</div>
    {% if faculty.personalweb %} 
    <a href="{{ faculty.personalweb }}" target="_blank">[Personal webpage]</a>
    {% endif %}
    {% if faculty.groupweb %} 
    <a href="{{ faculty.groupweb }}" target="_blank">[Lab webpage]</a>
    {% endif %}
  </div>
  {% endfor %}
</div>
<h3> Ph.D. Students </h3>
<div class="student-table">
  {% assign sorted_students = site.data.students | where: 'current', 'TRUE' | sort: 'last' %}
  {% for student in sorted_students %}
  <div class="student">
    <div class="imgbox">
      {% if student.photo %}
      <img src="{{ site.baseurl }}/images/students/{{ student.photo }}" class="cropped"/>
      {% else %}
      <img src="{{ site.baseurl }}/images/avatar.jpg" class="cropped"/>
      {% endif %}
    </div>
    <h5>{{ student.first }} {{ student.last }}</h5>
    Advisor(s): {{student.advisor1}}
    {%if student.advisor2 %}/ {{ student.advisor2 }} {% endif %}
    {%if student.advisor3 %}/ {{ student.advisor3 }} {% endif %}
    {% if student.personalweb %}
    </br>
    <a href="{{ student.personalweb }}" target="_blank">[Personal webpage]</a>
    {% endif %}
  </div>
  {% endfor %}
</div>
<h3> Visiting Students </h3>
<div class="student-table">
  {% assign sorted_students = site.data.students | where: 'current', 'Visiting' | sort: 'last' %}
  {% for student in sorted_students %}
  <div class="student">
    <div class="imgbox">
      {% if student.photo %}
      <img src="{{ site.baseurl }}/images/students/{{ student.photo }}" class="cropped"/>
      {% else %}
      <img src="{{ site.baseurl }}/images/avatar.jpg" class="cropped"/>
      {% endif %}
    </div>
    <h5>{{ student.first }} {{ student.last }}</h5>
    Host: {{student.advisor1}}
    {%if student.advisor2 %}/ {{ student.advisor2 }} {% endif %}
    {%if student.advisor3 %}/ {{ student.advisor3 }} {% endif %}
    {% if student.personalweb %}
    </br>
    <a href="{{ student.personalweb }}" target="_blank">[Personal webpage]</a>
    {% endif %}
  </div>
  {% endfor %}
</div>
<h3> Recent Alumni</h3>
<div class="student-table">
  {% assign sorted_students = site.data.students | where: 'current', 'FALSE' | sort: 'last' %}
  {% for student in sorted_students %}
  <div class="student">
    <div class="imgbox">
      {% if student.photo %}
      <img src="{{ site.baseurl }}/images/students/{{ student.photo }}" class="cropped"/>
      {% else %}
      <img src="{{ site.baseurl }}/images/avatar.jpg" class="cropped"/>
      {% endif %}
    </div>
    <h5>{{ student.first }} {{ student.last }}</h5>
    Advisor(s): {{student.advisor1}}
    {%if student.advisor2 %}/ {{ student.advisor2 }} {% endif %}
    {%if student.advisor3 %}/ {{ student.advisor3 }} {% endif %}
    {% if student.personalweb %}
    </br>
    <a href="{{ student.personalweb }}" target="_blank">[Personal webpage]</a>
    {% endif %}
  </div>
  {% endfor %}
</div>

</div>
